* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.block {
    border-top: 1px solid grey;
    padding: 10px;
    max-width: 700px;
    color: grey;
}

.block:active {
    color: darkcyan;
}

.accordion {
    display: flex;
    justify-content: space-between;

    /*width: 700px;*/
    cursor: pointer;
}


.blockMemo {
    max-width: 700px;
    display: none;
}

.imgMemo {
    max-width: 100%;
    transition: 1s;
    /*padding: 50px;*/
}

.blockMemo:hover {
    /*display: block;*/
}

.btn {
    background: no-repeat url("../img/plus-61-32.png");
    height: 50px;
    width: 50px;

    /*display: none;*/
}

.accordion:hover .btn {
    display: block;
    transform: rotate(45deg);
    transition: .3s;
}

.imgMemo:focus {
    transform: scale(1.1);
    transition: .2s;
}

.accordion:hover ~ .blockMemo {
    display: block;
    transition: .2s;
}


@media (max-width: 1920px) {

    .titleMemo {
        font-family: 'Inter',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
}

@media (max-width: 820px) {
    .titleMemo {
        font-family: 'Inter',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 320px) {
    .titleMemo {
        font-family: 'Inter',sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 20px;
    }
}